<form [formGroup]="customerForm" (submit)="save()">
  <mat-grid-list cols="1" rowHeight="200px">
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input formControlName="name" matInput placeholder="Nome: ">
          <mat-error>Nome é obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="email" type="email" matInput placeholder="E-mail: ">
          <mat-error>E-mail é obrigatório</mat-error>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button [disabled]="false" type="submit" color="accent">Enviar dados</button>
          <button mat-raised-button (click)="createAddress()" type="button" color="primary">Adicionar endereço</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <span>
    <hr>
    <pre>{{ customerForm.value | json}}</pre>
    <pre>{{ customerForm.valid | json }}</pre>
    <pre>{{ addresses.getValue() | json }}</pre>
  </span>
</form>
<app-address-list [data-list]="addresses"></app-address-list>
